<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<body>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
        </tr>

        <% for(var i=0; i < DataTable.length; i++) { %>
            <tr>
                <td>
                    <%= DataTable[i].email %>
                </td>
                <td>
                    <%= DataTable[i].firstName %>
                </td>
                <td>
                    <%= DataTable[i].lastName %>
                </td>
                <td>
                    <%= DataTable[i].address %>
                </td>
            </tr>
            <% } %>

    </table>
</body>

</html>