<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document NodeJS</title>
</head>

<body>
    <h1> Hello world from View</h1>
    <p> <!-- Cach Lay Data tu db -->
        <%=data %>

    </p>
</body>

</html>